<!DOCTYPE html>
<html>
  <head>
    <title>SkillsForKerala</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <fb:login-button
      scope="public_profile,email"
      onlogin="onFacebookLogin();">
    </fb:login-button>

    <%= yield %>

    <script>
      loadFacebookSDK('<%= Rails.application.credentials.facebook[:app_id] %>')
    </script>
  </body>
</html>
